<h1>Add a new train</h1>

<form action="/trains" method="post">
  <div class="form-group">
    <label for="train_name">Train name</label>
    <input id="n" name="train_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add train</button>
</form>
