<h1>Add a new city</h1>

<form action="/cities" method="post">
  <div class="form-group">
    <label for="stop_name">Stop name</label>
    <input id="n" name="stop_name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn">Add city</button>
</form>
